multitenancy_enabled: false

server:
  http_listen_port: 9009
  grpc_listen_port: 9095

ingester:
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: inmemory
    replication_factor: 1

distributor:
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: inmemory

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /var/mimir/blocks
  tsdb:
    dir: /var/mimir/tsdb

compactor:
  data_dir: /var/mimir/compactor
  sharding_ring:
    kvstore:
      store: inmemory

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: inmemory

activity_tracker:
  filepath: /var/mimir/activity.log

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /var/mimir/rules
